
body{
    background-color:#1B2A41 ;
}
*
{
    margin: 0px;
    padding: 0px;
}
.container
{
    background-color: #1B2A41;
}
.footer
{
    height: 100px;
}
.cnt-f
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #a4b6b6;
    overflow: hidden;
    border: solid 4px #696923;
    
}
img{
    opacity: 0;
    z-index: 2;
}
.front
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: darkslategrey;
}
.logo
{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2A41;

}
.logo h1
{
    size: 50px;
    color: white;
}